<div id="<%= dom_id community %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= community.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Description:</strong>
    <%= community.description %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">User:</strong>
    <%= community.user.email %>
  </p>

</div>
